body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.conteneur {
  margin : 5px;
  padding: 5px;
  border : 1px solid black;
}

.resultat {
  background-color: lightgrey;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.mr-1 {
  margin-right: 1em;
}

.mx-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.w-l {
  width: 100px;
}

.a-c {
  align-items: center;
}

.j-s {
  justify-content: space-between;
}

.j-r {
  justify-content: flex-end;
}
